{% extends 'base.html.twig' %}

{% block title %}
    Administrateur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
<div class="corps">

    <h2>Bienvenue sur le back-office administrateur</h2>
</div>
{% endblock %}
