/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Robotaur';
  src: url("../fonts/robotaur/robotaur.ttf");
}
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_plateau.scss */
body p {
  font-family: "Robotaur";
  color: white;
}

/* line 6, ../sass/_plateau.scss */
button {
  background-color: transparent;
  border: none;
}

/* line 11, ../sass/_plateau.scss */
.plateau {
  background: #0c5584;
  min-height: 100vh;
}

/* line 16, ../sass/_plateau.scss */
.carte {
  background: #266b96;
  min-height: 100vh;
}

/* line 21, ../sass/_plateau.scss */
.haut {
  margin-top: 202px !important;
}

/* line 25, ../sass/_plateau.scss */
.bas {
  margin-top: 291px !important;
}

/* line 29, ../sass/_plateau.scss */
.scorej2 {
  position: absolute;
  font-size: 16px;
  left: 10vw;
  margin-top: 80px;
  line-height: 30px;
}

/* line 37, ../sass/_plateau.scss */
.scorej1 {
  position: absolute;
  font-size: 16px;
  right: 10vw;
  bottom: 80px;
  line-height: 30px;
  text-align: right;
}

/* line 46, ../sass/_plateau.scss */
.cartes_adversaire {
  text-align: center;
}
/* line 48, ../sass/_plateau.scss */
.cartes_adversaire img {
  position: absolute;
  width: 5vw;
}

/* line 54, ../sass/_plateau.scss */
.nb1 {
  z-index: 10;
  transform: rotate(20deg);
}

/* line 58, ../sass/_plateau.scss */
.nb2 {
  z-index: 11;
  margin-left: 50px;
  transform: rotate(15deg) translateY(12px);
}

/* line 64, ../sass/_plateau.scss */
.nb3 {
  z-index: 12;
  margin-left: 100px;
  transform: rotate(10deg) translateY(20px);
}

/* line 69, ../sass/_plateau.scss */
.nb4 {
  z-index: 13;
  margin-left: 150px;
  transform: rotate(5deg) translateY(27px);
}

/* line 74, ../sass/_plateau.scss */
.nb5 {
  z-index: 14;
  margin-left: 200px;
  transform: rotate(-7deg) translateY(25px);
}

/* line 79, ../sass/_plateau.scss */
.nb6 {
  z-index: 15;
  margin-left: 250px;
  transform: rotate(-10deg) translateY(16px);
}

/* line 84, ../sass/_plateau.scss */
.nb7 {
  z-index: 16;
  margin-left: 300px;
  transform: rotate(-20deg);
}

/* line 91, ../sass/_plateau.scss */
.joueur1 {
  position: absolute;
  right: 10vw;
  bottom: 50px;
}
/* line 95, ../sass/_plateau.scss */
.joueur1 p {
  color: #53D0FF;
  font-size: 22px;
}

/* line 100, ../sass/_plateau.scss */
.joueur2 {
  position: absolute;
  left: 10vw;
  margin-top: 50px;
}
/* line 104, ../sass/_plateau.scss */
.joueur2 p {
  color: #53D0FF;
  font-size: 22px;
}

/* line 110, ../sass/_plateau.scss */
.manche {
  float: right;
  font-size: 30px;
  margin-right: 10vw;
  margin-top: 30px;
}

/* line 117, ../sass/_plateau.scss */
.objet {
  margin-left: 36vw;
}
/* line 119, ../sass/_plateau.scss */
.objet img {
  position: absolute;
  width: 6vw;
  bottom: 2vh;
}

/* line 126, ../sass/_plateau.scss */
.objets {
  margin-left: 25vw;
}
/* line 128, ../sass/_plateau.scss */
.objets img {
  position: absolute;
  width: 6vw;
  bottom: 2vh;
}
/* line 132, ../sass/_plateau.scss */
.objets img:hover {
  box-shadow: 0px 0px 10px 5px #00fcff;
}
/* line 136, ../sass/_plateau.scss */
.objets input {
  z-index: 16;
  position: absolute;
  width: 6vw;
  bottom: 14vh;
}
/* line 142, ../sass/_plateau.scss */
.objets span.span1 {
  text-align: center;
  z-index: 16;
  position: absolute;
  width: 6vw;
  bottom: 12vh;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 151, ../sass/_plateau.scss */
.objets span.span2 {
  text-align: center;
  z-index: 16;
  position: absolute;
  width: 6vw;
  bottom: 8vh;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 162, ../sass/_plateau.scss */
.objets .carte1 {
  margin-left: 0;
}
/* line 165, ../sass/_plateau.scss */
.objets .carte2 {
  margin-left: 7vw;
}
/* line 168, ../sass/_plateau.scss */
.objets .carte3 {
  margin-left: 14vw;
}
/* line 171, ../sass/_plateau.scss */
.objets .carte4 {
  margin-left: 21vw;
}
/* line 174, ../sass/_plateau.scss */
.objets .carte5 {
  margin-left: 28vw;
}
/* line 177, ../sass/_plateau.scss */
.objets .carte6 {
  margin-left: 35vw;
}
/* line 180, ../sass/_plateau.scss */
.objets .carte7 {
  margin-left: 42vw;
}
/* line 184, ../sass/_plateau.scss */
.objets .carte1b {
  margin-left: 0;
  bottom: 10vh;
}
/* line 188, ../sass/_plateau.scss */
.objets .carte2b {
  margin-left: 7vw;
  bottom: 10vh;
}
/* line 192, ../sass/_plateau.scss */
.objets .carte3b {
  margin-left: 14vw;
  bottom: 10vh;
}
/* line 196, ../sass/_plateau.scss */
.objets .carte4b {
  margin-left: 21vw;
  bottom: 10vh;
}
/* line 200, ../sass/_plateau.scss */
.objets .carte5b {
  margin-left: 28vw;
  bottom: 10vh;
}
/* line 204, ../sass/_plateau.scss */
.objets .carte6b {
  margin-left: 35vw;
  bottom: 10vh;
}
/* line 208, ../sass/_plateau.scss */
.objets .carte7b {
  margin-left: 42vw;
  bottom: 10vh;
}

/* line 215, ../sass/_plateau.scss */
.n0 {
  z-index: 9;
  transform: rotate(-20deg);
  transition: all 1s;
}
/* line 219, ../sass/_plateau.scss */
.n0:hover {
  transform: rotate(-20deg) translateY(-35px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 224, ../sass/_plateau.scss */
.n1 {
  z-index: 10;
  transform: rotate(-15deg) translateY(-12px);
  margin-left: 50px;
  transition: all 1s;
}
/* line 229, ../sass/_plateau.scss */
.n1:hover {
  transform: rotate(-15deg) translateY(-50px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 235, ../sass/_plateau.scss */
.n2 {
  z-index: 11;
  transform: rotate(-10deg) translateY(-19px);
  margin-left: 100px;
  transition: all 1s;
}
/* line 240, ../sass/_plateau.scss */
.n2:hover {
  transform: rotate(-10deg) translateY(-60px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 245, ../sass/_plateau.scss */
.n3 {
  z-index: 12;
  margin-left: 150px;
  transform: rotate(-3deg) translateY(-20px);
  transition: all 1s;
}
/* line 250, ../sass/_plateau.scss */
.n3:hover {
  transform: rotate(-3deg) translateY(-60px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 255, ../sass/_plateau.scss */
.n4 {
  z-index: 13;
  margin-left: 200px;
  transform: rotate(5deg) translateY(-17px);
  transition: all 1s;
}
/* line 260, ../sass/_plateau.scss */
.n4:hover {
  transform: rotate(5deg) translateY(-60px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 265, ../sass/_plateau.scss */
.n5 {
  z-index: 14;
  margin-left: 250px;
  transform: rotate(15deg) translateY(-7px);
  transition: all 1s;
}
/* line 270, ../sass/_plateau.scss */
.n5:hover {
  transform: rotate(15deg) translateY(-60px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 275, ../sass/_plateau.scss */
.n6 {
  z-index: 15;
  margin-left: 300px;
  transform: rotate(25deg) translateY(8px);
  transition: all 1s;
}
/* line 280, ../sass/_plateau.scss */
.n6:hover {
  transform: rotate(25deg) translateY(-20px);
  box-shadow: 0px 0px 10px 5px #00fcff;
}

/* line 286, ../sass/_plateau.scss */
.backgroud_plateau {
  min-height: 50vh;
}
/* line 289, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond {
  background: url("../img/plateau/fond.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}
/* line 294, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img2 {
  width: 20vw;
  position: absolute;
}
/* line 298, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img3 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 2vw;
  margin-top: 40px;
}
/* line 306, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img4 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 2vw;
  margin-top: 95px;
}
/* line 313, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img5 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 2vw;
  margin-top: 150px;
}
/* line 320, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img6 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 2vw;
  margin-top: 205px;
}
/* line 328, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img10 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 18vw;
  z-index: 1;
}
/* line 335, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion1 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 21vw;
  margin-top: 31vh;
}
/* line 342, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion1_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 21vw;
  margin-top: 26vh;
}
/* line 349, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion1_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 21vw;
  margin-top: 37vh;
}
/* line 356, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img11 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 27vw;
  z-index: 1;
}
/* line 363, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion2 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 30vw;
  margin-top: 31vh;
}
/* line 370, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion2_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 30vw;
  margin-top: 26vh;
}
/* line 377, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion2_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 30vw;
  margin-top: 37vh;
}
/* line 384, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img12 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 36vw;
  z-index: 1;
}
/* line 391, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion3 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 39vw;
  margin-top: 31vh;
}
/* line 398, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion3_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 39vw;
  margin-top: 26vh;
}
/* line 405, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion3_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 39vw;
  margin-top: 37vh;
}
/* line 412, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img13 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 45vw;
  z-index: 1;
}
/* line 419, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion4 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 48vw;
  margin-top: 31vh;
}
/* line 426, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion4_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 48vw;
  margin-top: 26vh;
}
/* line 433, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion4_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 48vw;
  margin-top: 37vh;
}
/* line 440, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img14 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 54vw;
  z-index: 1;
}
/* line 447, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion5 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 57vw;
  margin-top: 31vh;
}
/* line 454, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion5_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 57vw;
  margin-top: 26vh;
}
/* line 461, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion5_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 57vw;
  margin-top: 37vh;
}
/* line 468, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img15 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 63vw;
  z-index: 1;
}
/* line 475, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion6 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 66vw;
  margin-top: 31vh;
}
/* line 482, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion6_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 66vw;
  margin-top: 26vh;
}
/* line 489, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion6_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 66vw;
  margin-top: 37vh;
}
/* line 496, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img16 {
  position: absolute;
  width: 8vw;
  margin-top: 22vh;
  margin-left: 72vw;
  z-index: 1;
}
/* line 503, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion7 {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 75vw;
  margin-top: 31vh;
}
/* line 510, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion7_haut {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 75vw;
  margin-top: 26vh;
}
/* line 517, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .pion7_bas {
  z-index: 10;
  width: 2vw;
  position: absolute;
  margin-left: 75vw;
  margin-top: 37vh;
}
/* line 525, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img19 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2vw;
  bottom: 40px;
  z-index: 2;
}
/* line 534, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img20 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2vw;
  bottom: 95px;
  z-index: 1;
}
/* line 542, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img21 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2vw;
  bottom: 150px;
  z-index: 1;
}
/* line 551, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img22 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2vw;
  bottom: 205px;
  z-index: 1;
}
/* line 560, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action1 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2.3vw;
  bottom: 205px;
  z-index: 1;
}
/* line 567, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action1 img {
  width: 45px;
  height: 45px;
}
/* line 573, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action2 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2.3vw;
  bottom: 150px;
  z-index: 1;
}
/* line 580, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action2 img {
  width: 45px;
  height: 45px;
}
/* line 586, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action3 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2.3vw;
  bottom: 95px;
  z-index: 1;
}
/* line 593, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action3 img {
  width: 45px;
  height: 45px;
}
/* line 599, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action4 {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 2.3vw;
  bottom: 40px;
  z-index: 2;
}
/* line 606, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .bouton_action4 img {
  width: 45px;
  height: 45px;
}
/* line 613, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond button img {
  box-shadow: 0px 0px 10px 5px #00fcff;
}
/* line 619, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img24 {
  position: absolute;
  right: 0;
  height: 18vh;
  margin-top: 305px;
  transition: 1s all;
}
/* line 625, ../sass/_plateau.scss */
.backgroud_plateau .backgroud_plateau_fond .img24 :hover {
  transform: scale(1.1);
}

/* line 1, ../sass/_action.scss */
h1 {
  font-family: "Robotaur";
  color: white;
}

/* line 6, ../sass/_action.scss */
.bouton {
  background: #3e4750;
  width: auto;
  padding: 10px;
  padding-top: 0;
  text-align: center;
  float: left;
}
/* line 14, ../sass/_action.scss */
.bouton:hover {
  opacity: 0.8;
}

/* line 19, ../sass/_action.scss */
.action1 {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #374450;
  right: 4vw;
  bottom: 213px;
}
/* line 26, ../sass/_action.scss */
.action1 p {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}

/* line 33, ../sass/_action.scss */
.action2 {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #374450;
  right: 4vw;
  bottom: 158px;
}
/* line 40, ../sass/_action.scss */
.action2 p {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}

/* line 47, ../sass/_action.scss */
.action3 {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #374450;
  right: 4vw;
  bottom: 103px;
}
/* line 54, ../sass/_action.scss */
.action3 p {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}

/* line 61, ../sass/_action.scss */
.action4 {
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #374450;
  right: 4vw;
  bottom: 48px;
}
/* line 69, ../sass/_action.scss */
.action4 p {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}

/* line 77, ../sass/_action.scss */
.used {
  opacity: 0.3;
}

/* line 81, ../sass/_action.scss */
.b1 {
  z-index: 15;
  position: absolute;
  width: 35vw;
  height: 28vh;
  background: #011529;
  opacity: 0.9;
  left: 32.5vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 91, ../sass/_action.scss */
.b1 .b1carte {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 14.5vw;
  margin-top: 5vh;
}
/* line 100, ../sass/_action.scss */
.b1 h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 104, ../sass/_action.scss */
.b1 #annuler {
  margin-top: 19vh;
  margin-left: 1vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}
/* line 112, ../sass/_action.scss */
.b1 #valider {
  margin-top: 19vh;
  margin-left: 18vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}

/* line 121, ../sass/_action.scss */
.b2 {
  z-index: 15;
  position: absolute;
  width: 35vw;
  height: 28vh;
  background: #011529;
  opacity: 0.9;
  left: 32.5vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 131, ../sass/_action.scss */
.b2 .b2carte1 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 9.5vw;
  margin-top: 5vh;
}
/* line 139, ../sass/_action.scss */
.b2 .b2carte2 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 19.5vw;
  margin-top: 5vh;
}
/* line 147, ../sass/_action.scss */
.b2 h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 151, ../sass/_action.scss */
.b2 #annuler {
  margin-top: 19vh;
  margin-left: 1vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}
/* line 159, ../sass/_action.scss */
.b2 #valider {
  margin-top: 19vh;
  margin-left: 18vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}

/* line 170, ../sass/_action.scss */
.b3 {
  z-index: 15;
  position: absolute;
  width: 40vw;
  height: 28vh;
  background: #011529;
  opacity: 0.9;
  left: 30vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 180, ../sass/_action.scss */
.b3 .b3carte1 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 10vw;
  margin-top: 5vh;
}
/* line 188, ../sass/_action.scss */
.b3 .b3carte2 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 17vw;
  margin-top: 5vh;
}
/* line 197, ../sass/_action.scss */
.b3 .b3carte3 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 24vw;
  margin-top: 5vh;
}
/* line 205, ../sass/_action.scss */
.b3 h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 209, ../sass/_action.scss */
.b3 #annuler {
  margin-top: 19vh;
  margin-left: 1vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}
/* line 217, ../sass/_action.scss */
.b3 #valider {
  margin-top: 19vh;
  margin-left: 23vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}

/* line 228, ../sass/_action.scss */
.b4 {
  z-index: 15;
  position: absolute;
  width: 50vw;
  height: 28vh;
  background: #011529;
  opacity: 0.9;
  left: 25vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 238, ../sass/_action.scss */
.b4 .b4carte1 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 11.5vw;
  margin-top: 5vh;
}
/* line 246, ../sass/_action.scss */
.b4 .b4carte2 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 18.5vw;
  margin-top: 5vh;
}
/* line 255, ../sass/_action.scss */
.b4 .b4carte3 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 25.5vw;
  margin-top: 5vh;
}
/* line 263, ../sass/_action.scss */
.b4 .b4carte4 {
  width: 6vw;
  height: 8vw;
  background: #3e4750;
  position: absolute;
  margin-left: 32.5vw;
  margin-top: 5vh;
}
/* line 271, ../sass/_action.scss */
.b4 h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 275, ../sass/_action.scss */
.b4 #annuler {
  margin-top: 19vh;
  margin-left: 1vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}
/* line 283, ../sass/_action.scss */
.b4 #valider {
  margin-top: 19vh;
  margin-left: 33vw;
  padding-top: 4px;
  font-family: Robotaur;
  color: white;
}

/* line 293, ../sass/_action.scss */
.concurrence {
  z-index: 15;
  position: absolute;
  width: 45vw;
  height: 34vh;
  background: #011529;
  opacity: 0.9;
  left: 27.4vw;
  top: 47vh;
  border-radius: 6px;
}
/* line 303, ../sass/_action.scss */
.concurrence h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 307, ../sass/_action.scss */
.concurrence #paire1 {
  margin-top: 3vh;
  margin-left: 5vw;
  padding-top: 4px;
}
/* line 313, ../sass/_action.scss */
.concurrence #paire2 {
  margin-top: 3vh;
  margin-left: 8vw;
  padding-top: 4px;
}
/* line 319, ../sass/_action.scss */
.concurrence #valider {
  margin-top: 2vh;
  margin-left: 35vw;
  padding-top: 4px;
  color: white;
  font-family: Robotaur;
}
/* line 326, ../sass/_action.scss */
.concurrence span {
  font-family: Robotaur;
  color: white;
}
/* line 331, ../sass/_action.scss */
.concurrence .cartes {
  width: 6vw;
  background: #3e4750;
  position: relative;
  margin-left: 4vw;
  margin-top: 2vh;
}

/* line 341, ../sass/_action.scss */
.cadeau {
  z-index: 15;
  position: absolute;
  width: 45vw;
  height: 30vh;
  background: #011529;
  opacity: 0.9;
  left: 27.4vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 351, ../sass/_action.scss */
.cadeau h1 {
  text-align: center;
  margin-top: 12px;
}
/* line 355, ../sass/_action.scss */
.cadeau #valider {
  margin-top: 2vh;
  margin-left: 35vw;
  padding-top: 4px;
  color: white;
  font-family: Robotaur;
}
/* line 362, ../sass/_action.scss */
.cadeau span {
  font-family: Robotaur;
  color: white;
}
/* line 367, ../sass/_action.scss */
.cadeau .cartes {
  width: 6vw;
  background: #3e4750;
  position: relative;
  margin-top: 2vh;
}
/* line 374, ../sass/_action.scss */
.cadeau .selection {
  margin-left: 6vw;
}

/* line 380, ../sass/_action.scss */
.victoire {
  z-index: 15;
  position: absolute;
  width: 45vw;
  height: 15vh;
  background: #011529;
  opacity: 0.9;
  left: 27.4vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 390, ../sass/_action.scss */
.victoire h1 {
  text-align: center;
  margin-top: 4vh;
}
/* line 394, ../sass/_action.scss */
.victoire h2 {
  text-align: right;
  color: white;
  font-family: Robotaur;
  background-color: #3e4750;
  padding: 10px;
  margin-top: 1vh;
  margin-left: 28vw;
}
/* line 403, ../sass/_action.scss */
.victoire a {
  text-align: right;
  color: #53D0FF;
  font-family: Robotaur;
}

/* line 411, ../sass/_action.scss */
.tour {
  z-index: 15;
  position: absolute;
  width: 45vw;
  height: 15vh;
  background: #011529;
  opacity: 0.9;
  left: 27.4vw;
  top: 48vh;
  border-radius: 6px;
}
/* line 421, ../sass/_action.scss */
.tour h1 {
  text-align: center;
  margin-top: 4vh;
}
/* line 425, ../sass/_action.scss */
.tour h2 {
  text-align: right;
  color: white;
  font-family: Robotaur;
  background-color: #3e4750;
  padding: 10px;
  margin-top: 1vh;
  margin-left: 28vw;
}

/* line 437, ../sass/_action.scss */
.terrain1 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 18vw;
}
/* line 441, ../sass/_action.scss */
.terrain1 img {
  width: 1.5vw;
}

/* line 446, ../sass/_action.scss */
.terrain2 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 27vw;
}
/* line 450, ../sass/_action.scss */
.terrain2 img {
  width: 1.5vw;
}

/* line 455, ../sass/_action.scss */
.terrain3 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 36vw;
}
/* line 459, ../sass/_action.scss */
.terrain3 img {
  width: 1.5vw;
}

/* line 464, ../sass/_action.scss */
.terrain4 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 45vw;
}
/* line 468, ../sass/_action.scss */
.terrain4 img {
  width: 1.5vw;
}

/* line 473, ../sass/_action.scss */
.terrain5 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 54vw;
}
/* line 477, ../sass/_action.scss */
.terrain5 img {
  width: 1.5vw;
}

/* line 482, ../sass/_action.scss */
.terrain6 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 63vw;
}
/* line 486, ../sass/_action.scss */
.terrain6 img {
  width: 1.5vw;
}

/* line 492, ../sass/_action.scss */
.terrain7 {
  position: absolute;
  margin-top: 18.5vh;
  margin-left: 72vw;
}
/* line 496, ../sass/_action.scss */
.terrain7 img {
  width: 1.5vw;
}

/* line 502, ../sass/_action.scss */
.terrainb1 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 18vw;
}
/* line 506, ../sass/_action.scss */
.terrainb1 img {
  width: 1.5vw;
}

/* line 511, ../sass/_action.scss */
.terrainb2 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 27vw;
}
/* line 515, ../sass/_action.scss */
.terrainb2 img {
  width: 1.5vw;
}

/* line 520, ../sass/_action.scss */
.terrainb3 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 36vw;
}
/* line 524, ../sass/_action.scss */
.terrainb3 img {
  width: 1.5vw;
}

/* line 529, ../sass/_action.scss */
.terrainb4 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 45vw;
}
/* line 533, ../sass/_action.scss */
.terrainb4 img {
  width: 1.5vw;
}

/* line 538, ../sass/_action.scss */
.terrainb5 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 54vw;
}
/* line 542, ../sass/_action.scss */
.terrainb5 img {
  width: 1.5vw;
}

/* line 547, ../sass/_action.scss */
.terrainb6 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 63vw;
}
/* line 551, ../sass/_action.scss */
.terrainb6 img {
  width: 1.5vw;
}

/* line 557, ../sass/_action.scss */
.terrainb7 {
  position: absolute;
  margin-top: 43vh;
  margin-left: 72vw;
}
/* line 561, ../sass/_action.scss */
.terrainb7 img {
  width: 1.5vw;
  z-index: 0;
}
