{% extends 'base.html.twig' %}

{% block title %}
    Choisir un adversaire
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('creer_partie') }}">
        <div>
            Choisissez l'adversaire connecté contre qui vous voulez jouer:
            <select name="adversaire">
                {% for joueur in joueurs if joueur.Username!= app.user.username %}

                    <option value="{{ joueur.id }}">{{ joueur.Username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>

            <input type="submit" value="Créer la partie">
        </div>
    </form>
{% endblock %}