<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css">
    <title>Plateau</title>
</head>

<body>

<div class="plateau" id="plateau">
    <div class="container-v backgroud_plateau">

        <div class="backgroud_plateau_fond">

            <img src="img/plateau/action1.png" class="img3">
            <img src="img/plateau/action2.png" class="img4">
            <img src="img/plateau/action3.png" class="img5">
            <img src="img/plateau/action4.png" class="img6">

            <div class="joueur2">
                <p>Joueur</p>
            </div>
            <div class="scorej1">
                <p>Score : </p>
                <p>Objectifs :</p>
            </div>
            <div class="manche">
                <p>Manche </p>
            </div>


            <!-- cartes maitre -->
            <div class="objectifs">
                <img src="img/cartes/carte1.png" class="img10">

                <img src="img/cartes/carte2.png" class="img11">

                <img src="img/cartes/carte3.png" class="img12">

                <img src="img/cartes/carte4.png" class="img13">

                <img src="img/cartes/carte5.png" class="img14">

                <img src="img/cartes/carte6.png" class="img15">

                <img src="img/cartes/carte7.png" class="img16">


                <!-- pions -->
                <img src="img/plateau/pion.png" class="pion1">
                <img src="img/plateau/pion.png" class="pion2">
                <img src="img/plateau/pion.png" class="pion3">
                <img src="img/plateau/pion.png" class="pion4">
                <img src="img/plateau/pion.png" class="pion5">
                <img src="img/plateau/pion.png" class="pion6">
                <img src="img/plateau/pion.png" class="pion7">

            </div>

            <div class="cartes_adversaire">
                <img src="img/plateau/carte-joueur2.png" class="img2">
            </div>

            <!-- carte j2 -->
            <div class="j2">
                <img src="img/plateau/cartej2.png" class="nb1">
                <img src="img/plateau/cartej2.png" class="nb2">
                <img src="img/plateau/cartej2.png" class="nb3">
                <img src="img/plateau/cartej2.png" class="nb4">
                <img src="img/plateau/cartej2.png" class="nb5">
                <img src="img/plateau/cartej2.png" class="nb6">
                <img src="img/plateau/cartej2.png" class="nb7">
            </div>

            <!-- action -->

            <img src="img/plateau/action4.png" class="img19" id="action4">
            <img src="img/plateau/action3.png" class="img20" id="action3">
            <img src="img/plateau/action2.png" class="img21" id="action2">
            <img src="img/plateau/action1.png" class="img22" id="action1">

            <div class="action1">
                <p>Secret</p>
            </div>


            <div class="action2">
                <p>Dissimulation</p>
            </div>

            <div class="action3">
                <p>Cadeau</p>
            </div>

            <div class="action4">
                <p>Concurrence</p>
            </div>

            <div class="joueur1">
                <p>Joueur</p>
            </div>

            <div class="scorej2">
                <p>Score : </p>
                <p>Objectifs :</p>
            </div>


            <div class="b1">
                <div class="b1carte">

                </div>
                <h1>Selectionnez une carte</h1>
                <p class="bouton" id="annuler">Annuler</p>
                <p class="bouton" id="valider">Valider</p>

            </div>

            <div class="b2">
                <div class="b2carte1">

                </div>
                <div class="b2carte2">

                </div>
                <h1>Selectionnez deux cartes</h1>
                <p class="bouton" id="annuler2">Annuler</p>
                <p class="bouton" id="valider">Valider</p>

            </div>

            <div class="b3">
                <div class="b3carte1">

                </div>
                <div class="b3carte2">

                </div>
                <div class="b3carte3">

                </div>
                <h1>Selectionnez trois cartes</h1>
                <p class="bouton" id="annuler3">Annuler</p>
                <p class="bouton" id="valider">Valider</p>

            </div>


            <div class="b4">
                <div class="b4carte1">

                </div>
                <div class="b4carte2">

                </div>
                <div class="b4carte3">

                </div>
                <div class="b4carte4">

                </div>
                <h1>Selectionnez quatre cartes</h1>
                <p class="bouton" id="annuler3">Annuler</p>
                <p class="bouton" id="valider">Valider</p>

            </div>



            <img src="img/plateau/dos_carte.png" class="img24">

            <!-- Objets -->
            <div class="objet">
                <img src="img/cartes/objet0.png" class="n0">
                <img src="img/cartes/objet1.png" class="n1">
                <img src="img/cartes/objet2.png" class="n2">
                <img src="img/cartes/objet3.png" class="n3">
                <img src="img/cartes/objet4.png" class="n4">
                <img src="img/cartes/objet5.png" class="n5">
                <img src="img/cartes/objet6.png" class="n6">
            </div>

            <div class="chat">

            </div>

        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="js/action.js"></script>
</body>

</html>