{% extends 'base.html.twig' %}

{% block title %}
    Cosmos - Tutoriel
{% endblock %}

{% block nav_admin %}{% endblock %}

{% block body %}


    <section class="body_new">
        <div class="new">
            <div class="container-fluid justify-content-center">
                <div class="col-8">
                    <div class="contenu-form" >
                        <div class="haut">
                            <h1>Tutoriel</h1>
                        </div>
                        <div class="bas">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IWa9F0pddW0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <form method="post" action="{{ path('tutoriel_fini') }}">

                                <div class="envoyer">
                                    <div class="col-12">

                                        <input type="submit" value="Passer le tutoriel">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
