{% extends 'base.html.twig' %}

{% block body %}


    <div>
        Mon score :
        {% set monscore = 0 %}

        {% for score in parties |sort %}
            {% set monscore = monscore + score.scoreJ1 +score.scoreJ2 %}
        {% endfor %}

        {{ monscore }}
    </div>


{% endblock %}