{% extends 'base.html.twig' %}

{% block body %}

    Classement selon le nombre de victoires

    <div>
        Mon score :
        {{ moi.PartiesVictoires}} victoires et {{ moi.PartiesDefaites}} défaites
    </div>

    <div>
        Classement :<br>
        {% for joueur in autres %}
            {{ joueur.username }} : {{ joueur.PartiesVictoires }}<br>
        {% endfor %}
    </div>


{% endblock %}